@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-bottom: 300px;">
    <h1 style="color: white;">Unlimited Financials</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Explore our products and services.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Explore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join Us!</h2>
        <p>Open an account today!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Join &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Business Management</h2>
        <p>Let us assist your small business ventures.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Business &raquo;</a></p>
    </div>
</div>